body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.info {
    height: 60vh;
    display: flex;
    flex-direction: column;
    background: linear-gradient(to right, #ff512f, #dd2476);
    align-items: center;
    justify-content: center;
    color: white;
}

button {
    border: 0;
    border-radius: 20px;
    padding: 12px 22px;
    margin-top: 10px;
}

div {
    padding: 10px;
}

.card {
    display: flex;
    justify-content: center;
    align-items: center;
    gap : 20px;
}

span {
    background-color: #fff;
    padding: 30px 60px;
    margin-top: 30px;
    border-radius: 10px;
    box-shadow: 0 0 5px #ccc;
}

.review {
    margin-top: 30px;
    text-align: center;
}

footer {
    background: #222;
    text-align: center;
    color: white;
    padding: 20px;
}